<table style="border-collapse:collapse;border-spacing:0px;padding:0;margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr style="border-collapse:collapse">
      <td style="padding:0;margin:0" valign="top">
        <table style="border-collapse:collapse;border-spacing:0px;table-layout:fixed!important;width:100%" cellspacing="0" cellpadding="0" align="center">
          <tbody>
            <tr style="border-collapse:collapse">
              <td style="padding:0;margin:0" align="center">
                <table cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
                  <tbody>
                    <tr style="border-collapse:collapse">
                      <td style="padding:20px;margin:0;background-color:#f6f6f6" align="left" bgcolor="#f6f6f6">
                        <table style="border-collapse:collapse;border-spacing:0px;float:left;width:100%" cellspacing="0" cellpadding="0" align="left">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td style="padding:0;margin:0;width:192px" align="center" valign="top">
                                <table style="border-collapse:collapse;border-spacing:0px" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td style="padding:0;margin:0;font-size:0px" align="left">
                                        <img class="m_2318486636108299647company-logo CToWUd" style="display:block;border:0;outline:none;text-decoration:none" src="https://ci3.googleusercontent.com/proxy/W_Ye7xLYI--mbCFeRJ24dI2R7m6OCoUg3-GDIYAmoDvGZdvCZGeCtbQNAWHGgVtAc3hh4hPsU_Rbdrh5wbnFmmzg0xo02g=s0-d-e1-ft#https://assets.topdev.vn/images/logo-new-retina.png" width="192" height="61" data-bit="iit">
                                      </td>
                                      <td style="padding:0;margin:0;color:#d34127;font-size:13px;font-weight:bold" align="right">
                                        <a style="text-decoration:none;color:#d34127" href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObWMKusgSOplZXXMyKtjCqzj7SHRrA4c6TGGK2m5-2F3idqsBDWZBLhK26j8F3lcpRmkp2EyWk4felmQRx1yeInmha3tcRvNYWL-2FFab08BNr-2BGXtlXbhGG-2Fel2E-2BJUCUgMWcg-3D-3DlUn9_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJYyF31NbeBzkJeOFzg0TcyUWluz2C5-2BwJf7XOwa0ZvSvmengLj4s9-2BZ4CA1hh5ORGKCVoQ-2FoAvTKt6jGf619Bq4Biz-2BGxpG0DKLjMGp4G3O3CHXfo6LJEd6iwvoXb-2BTWuZoEXPTUxPid61QffgcJhVw-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObWMKusgSOplZXXMyKtjCqzj7SHRrA4c6TGGK2m5-2F3idqsBDWZBLhK26j8F3lcpRmkp2EyWk4felmQRx1yeInmha3tcRvNYWL-2FFab08BNr-2BGXtlXbhGG-2Fel2E-2BJUCUgMWcg-3D-3DlUn9_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJYyF31NbeBzkJeOFzg0TcyUWluz2C5-2BwJf7XOwa0ZvSvmengLj4s9-2BZ4CA1hh5ORGKCVoQ-2FoAvTKt6jGf619Bq4Biz-2BGxpG0DKLjMGp4G3O3CHXfo6LJEd6iwvoXb-2BTWuZoEXPTUxPid61QffgcJhVw-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw3_xSX4vQDB7EJC8VCahpdL">IT Job</a> | <a style="text-decoration:none;color:#d34127" href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObcZdRZklJx-2Bun-2BSQSP6RU9rXeOBzcCwNV6csMw1PEyNZaHuTuiQf7uIdNSL-2BNO7qAHj2fWx-2BkaDVqE9QTZkJMgUoqpGOS86FwRJstcyt2KGjtuofrj8smbxH058gJzuroA-3D-3DULyu_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJVXcim32AtmRa4lIokkj6gXKlZCT73U4mRxq5d-2Bqt-2BDjAfDjf-2Fr2SGQ1OnkAs3dN9eKXfDzofj5dQ2yM00QvYwm0L2oy41uxR-2FlgzA-2B0bHG6lQbKNtU6vbojEqqj-2F3tK19D9P09KKYkB4bJFelkHIuc-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObcZdRZklJx-2Bun-2BSQSP6RU9rXeOBzcCwNV6csMw1PEyNZaHuTuiQf7uIdNSL-2BNO7qAHj2fWx-2BkaDVqE9QTZkJMgUoqpGOS86FwRJstcyt2KGjtuofrj8smbxH058gJzuroA-3D-3DULyu_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJVXcim32AtmRa4lIokkj6gXKlZCT73U4mRxq5d-2Bqt-2BDjAfDjf-2Fr2SGQ1OnkAs3dN9eKXfDzofj5dQ2yM00QvYwm0L2oy41uxR-2FlgzA-2B0bHG6lQbKNtU6vbojEqqj-2F3tK19D9P09KKYkB4bJFelkHIuc-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw2r98KwuACXA3ZW38DbZ2uh">Create CV</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td style="padding:0;margin:0;padding-top:20px;padding-left:20px;padding-right:20px" align="left">
                        <table style="border-collapse:collapse;border-spacing:0px" width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td style="padding:0;margin:0;width:560px" align="center" valign="top">
                                <table style="border-collapse:collapse;border-spacing:0px" width="100%" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td style="padding:0;margin:0;background-repeat:no-repeat;background-position:right top!important;background-size:18%" align="left">
                                        <p style="margin-top:20px;margin-bottom:0px;font-size:13px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#222">
                                          <strong>Xin chào {{fullName}},</strong><br><br>
                                          <span style="color:#282828;font-size:13px">TopDev xác nhận bạn đã
                                          ứng tuyển thành công vị trí <span style="color:#d34127"><a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj7C5ivN7qd3Ns7ihToE-2BlH-2FGNK07M1QL56TtM5aq9-2FvQjLYUVFNw-2F1FJmedDkVtFG-2FpOdbP4QEsoFSMOryz4RUOrrAwCV-2FJsfmR-2BZCzUeY0acwGMiXHT3TX1urbXus05pJ0mSqthTnVAc3-2BYh19eqaTPnX7VmbMmRZltkuGh4-2FKG9g-2FlKcAshRVt8POHKHt3iU-3DoXeJ_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJdFV6mG4ORYW5vQyLMbk1Etv956F6MkOwZ53UXVEsRQFaDOVjxREDXYXoat2T9pdXcSN7-2FPurSpQC6flLQYyO23dLLcdBwmhpVzmdZMLUmqBmUrwkMiAzOvGMpaFCzW94bVWCG3jxNMm3XmhyqgRpGo-3D" style="color:#15c;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj7C5ivN7qd3Ns7ihToE-2BlH-2FGNK07M1QL56TtM5aq9-2FvQjLYUVFNw-2F1FJmedDkVtFG-2FpOdbP4QEsoFSMOryz4RUOrrAwCV-2FJsfmR-2BZCzUeY0acwGMiXHT3TX1urbXus05pJ0mSqthTnVAc3-2BYh19eqaTPnX7VmbMmRZltkuGh4-2FKG9g-2FlKcAshRVt8POHKHt3iU-3DoXeJ_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJdFV6mG4ORYW5vQyLMbk1Etv956F6MkOwZ53UXVEsRQFaDOVjxREDXYXoat2T9pdXcSN7-2FPurSpQC6flLQYyO23dLLcdBwmhpVzmdZMLUmqBmUrwkMiAzOvGMpaFCzW94bVWCG3jxNMm3XmhyqgRpGo-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw14g67Ghzrmk5delXnCu8Qm"><strong>{{jobTitle}}</strong></a></span>
                                          tại <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObdgI7AzFUS5heyG-2BBbGZ9AH-2FMBz6yltBtVdeYoRALeAHPez0atHO1c2uQ8KflVhG8qSC7IKhDIvoPDvv6-2FJnXlmgSdYrFWDekjszRKqMHo2YS4Hu4v2jgoe4ROU2goM3SzVKIUJLjJu4Iq7NnHMYxgnkGtvcOhout1E1TSnhbzuc_IZS_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJYcFwfIimDuM1wAVRkkUm2Id61wSXWz3XRYB5ghyjBoPcOgWOf-2Bos-2BilmpWXeQqvuY9nP-2FWGRtAYQBvf9FT3MWzflPoSiVWqMQWxojkgpEQVnJ8dO-2FyQ1uKFVJ5ztdV6mQPaaHjArb2Eb-2Bf3oCy21OQ-3D" style="color:#15c;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObdgI7AzFUS5heyG-2BBbGZ9AH-2FMBz6yltBtVdeYoRALeAHPez0atHO1c2uQ8KflVhG8qSC7IKhDIvoPDvv6-2FJnXlmgSdYrFWDekjszRKqMHo2YS4Hu4v2jgoe4ROU2goM3SzVKIUJLjJu4Iq7NnHMYxgnkGtvcOhout1E1TSnhbzuc_IZS_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJYcFwfIimDuM1wAVRkkUm2Id61wSXWz3XRYB5ghyjBoPcOgWOf-2Bos-2BilmpWXeQqvuY9nP-2FWGRtAYQBvf9FT3MWzflPoSiVWqMQWxojkgpEQVnJ8dO-2FyQ1uKFVJ5ztdV6mQPaaHjArb2Eb-2Bf3oCy21OQ-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw0q7GA7nmqGO6jzDbwqQWn4"><strong>{{companyName}}</strong>.</a>
                                          <br>Hồ sơ của bạn đã được gửi đến <strong>{{companyName}}</strong>. Nhà
                                          tuyển dụng sẽ liên hệ với bạn trong thời gian sớm nhất nếu hồ sơ của
                                          bạn phù hợp và đáp ứng yêu cầu tuyển dụng. Để theo dõi lịch sử ứng
                                          tuyển và trạng thái ứng tuyển, hãy truy cập vào tài khoản TopDev của
                                          bạn <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObevGLsBYT2psShUrSgeFJ9SqSbibhb3s5HzjWuE8rXxyCTtgoXEFah2rR205HdXHO9ecfV-2F8agfIbeR11sxr9G7LvQJhhBDkeOJ-2Bmb7DmjaQWJ4Pj4mkkWjrlYZ07Y7kp2Soa2nXRgH0KSPBNtS0d978zsF-2F0AyXc1u4pa-2BTOnr4ZPH5_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJSStEiY0BG1GLR8CQDVpLAw5RR-2BD4pAN2n-2F3-2BChW4QQ30-2FdF517QmzmTU3T7wDdUMsCQ4zEaJ2-2BncK8aeLLhQ-2FCRdyb0Z-2FWK4fVYbQetZigziGXNNnrOQci-2BZBezkM-2B1bRnGwtiw3d5fPm6uUSwylyE-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObevGLsBYT2psShUrSgeFJ9SqSbibhb3s5HzjWuE8rXxyCTtgoXEFah2rR205HdXHO9ecfV-2F8agfIbeR11sxr9G7LvQJhhBDkeOJ-2Bmb7DmjaQWJ4Pj4mkkWjrlYZ07Y7kp2Soa2nXRgH0KSPBNtS0d978zsF-2F0AyXc1u4pa-2BTOnr4ZPH5_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJSStEiY0BG1GLR8CQDVpLAw5RR-2BD4pAN2n-2F3-2BChW4QQ30-2FdF517QmzmTU3T7wDdUMsCQ4zEaJ2-2BncK8aeLLhQ-2FCRdyb0Z-2FWK4fVYbQetZigziGXNNnrOQci-2BZBezkM-2B1bRnGwtiw3d5fPm6uUSwylyE-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw0-vm90AI3VzfnUsVYJMBq4">tại đây</a>.</span>
                                        </p>
                                        <br style="display:none">
                                        <p style="display:none;margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#222">
                                          <span style="color:#282828;font-size:13px"><span style="color:#d34127;font-size:15px"><strong><i>Notice</i></strong></span>:
                                          Vị trí này ưu tiên ứng viên hoàn thành HackerRank Test sau khi ứng
                                          tuyển. Bài Test <strong>hackerrank</strong> sẽ được gửi đến bạn
                                          trong email tiếp theo.</span>
                                        </p>
                                        <br>
                                        <p style="margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#222">
                                          <span style="color:#282828;font-size:13px">Đính kèm email này là hồ
                                          sơ bạn đã ứng tuyển cho vị trí này, nếu cần tham vấn thêm thông tin
                                          việc làm hoặc hỗ trợ, hãy liên hệ <strong>TopDev</strong> ngay: <a href="mailto:career@topdev.vn" target="_blank">career@topdev.vn</a> hoặc
                                          <strong>(028) 6273 3496</strong></span>
                                        </p>
                                        <br>
                                        <p style="margin:0;font-size:12px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#222">
                                          <span style="color:#282828;font-size:13px"><i>TopDev Support
                                          Team,</i></span>
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <br>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px">
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="center" valign="top" style="padding:0;Margin:0;width:560px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="center" style="padding:0;Margin:0;padding-top:20px;padding-bottom:20px;font-size:0">
                                        <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px">
                                          <tbody>
                                            <tr style="border-collapse:collapse">
                                              <td style="padding:0;Margin:0;border-bottom:1px solid #cccccc;background:none;height:1px;width:100%;margin:0px"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px">
                        <h2 style="text-align:center;margin:20px 0">NHỮNG CÔNG VIỆC HẤP DẪN TẠI <strong style="color:#d34127">TOPDEV</strong>
                        </h2>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:30px">
                        <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="center" valign="top" style="padding:0;Margin:0;width:550px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px">
                                        <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj5Be9f3fkY2MUOeYZYCvz6faWG4GFlV85kfoxqIuI6i5VWHrWBrHb1VjJQ10K-2BTcgejY9OIBvlSseR1aW7HpaqZhsc49gCKZytOx2APf-2FJ9AVMWya6u91zyvoRDRrP30P6hB109gc6wluuPm7ewNkPBrFZh3q8fLvG1IszrqEWY3g-3D-3DGJij_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJXYyZGIWz8wnOzbijKI34yRfHBidiLaiLgTmdMwcQLe3anglJR0fkcQmE-2FBc5DXdawUJIt4sjFepd2hZXLC-2B9KZKJwHh-2BUQMGxH2lPuU5eeqjdxRDpIUv950qqlwKfbktDq1Rw-2Fg0LF0ZN16YVsYbJA-3D" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj5Be9f3fkY2MUOeYZYCvz6faWG4GFlV85kfoxqIuI6i5VWHrWBrHb1VjJQ10K-2BTcgejY9OIBvlSseR1aW7HpaqZhsc49gCKZytOx2APf-2FJ9AVMWya6u91zyvoRDRrP30P6hB109gc6wluuPm7ewNkPBrFZh3q8fLvG1IszrqEWY3g-3D-3DGJij_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJXYyZGIWz8wnOzbijKI34yRfHBidiLaiLgTmdMwcQLe3anglJR0fkcQmE-2FBc5DXdawUJIt4sjFepd2hZXLC-2B9KZKJwHh-2BUQMGxH2lPuU5eeqjdxRDpIUv950qqlwKfbktDq1Rw-2Fg0LF0ZN16YVsYbJA-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw0RlNBj_ZLd0ny7ffdZUBXv">
                                          <p style="Margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333">
                                            <span style="color:#0000cd">Blockchain Developers</span><br>
                                            <span style="font-size:12px">INFINIUM RESEARCH - Thành phố Hồ Chí Minh
                                            <br>Salary: Negotiable
                                            <br>JavaScript, Python, NodeJS, REST API, ReactJS, Blockchain, TypeScript
                                            </span>
                                          </p>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" bgcolor="#f6f6f6" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px">
                                        <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj6FAyKOb08adrMgcVvB2RsGoVLG-2Bq-2BExsgO0dOIwZsDwvL7UCYFQqpvnz6kgphKXQEbIynFxoIkF36Yawem86mI99kOXeagGm-2B5N-2F6G0nQmvnE6BXXQYZvhMj9CJwmvzl2h33ScRwigLNA1HUDQ0EW-2BGm-2BPT9CfySEL0PTRT-2FCAthPx1QK-2B9tUFhAaflbswHjWJkOgiO-2BGuSMXS5F9aT0T098tWli-2B9lxnHPWE7zeEckhpuErkmU50d-2B76Xrhb4OYA-3DHWDO_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJZu7qwhT-2BRTYZofrBZrAd3q6fr1En0fUSl7kXohAnK-2F9eNfbhuR0tibk8LYb7h8QeXLUiGvxDxqlzvTp0adVCcHbdj6iCfKnO39Yz6TiAn2vS4dfPoQtU-2BVzgE6dHep3Sat9koZtDltTtwIPee-2FYvDk-3D" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj6FAyKOb08adrMgcVvB2RsGoVLG-2Bq-2BExsgO0dOIwZsDwvL7UCYFQqpvnz6kgphKXQEbIynFxoIkF36Yawem86mI99kOXeagGm-2B5N-2F6G0nQmvnE6BXXQYZvhMj9CJwmvzl2h33ScRwigLNA1HUDQ0EW-2BGm-2BPT9CfySEL0PTRT-2FCAthPx1QK-2B9tUFhAaflbswHjWJkOgiO-2BGuSMXS5F9aT0T098tWli-2B9lxnHPWE7zeEckhpuErkmU50d-2B76Xrhb4OYA-3DHWDO_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJZu7qwhT-2BRTYZofrBZrAd3q6fr1En0fUSl7kXohAnK-2F9eNfbhuR0tibk8LYb7h8QeXLUiGvxDxqlzvTp0adVCcHbdj6iCfKnO39Yz6TiAn2vS4dfPoQtU-2BVzgE6dHep3Sat9koZtDltTtwIPee-2FYvDk-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw3iU9EkEmY0suEVA5k8noNM">
                                          <p style="Margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333">
                                            <span style="color:#0000cd">CHUYÊN VIÊN TÍCH HỢP HỆ THỐNG - TRUNG TÂM PHÁT TRIỂN ỨNG DỤNG</span><br>
                                            <span style="font-size:12px">Ngân hàng TMCP Sài Gòn Thương tín (Sacombank) - Thành phố Hồ Chí Minh
                                            <br>Salary: 700 USD to 1.800 USD
                                            <br>Oracle, Java, Sharepoint, Back-End, Oracle Rac/ SQL Server, .NET Core
                                            </span>
                                          </p>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr style="border-collapse:collapse">
                              <td align="center" valign="top" style="padding:0;Margin:0;width:550px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px">
                                        <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj41LiyYcR6wqAPBkIxflDCSJUReskQB8NJ83YN-2FzTukPcC816HpHD-2BxcV2HpD67ns2o-2B0hcsmc1Wb-2BlANyb-2FTqIvowtDBzEx0JE2IqRsMq-2F35lgNg89Lv-2F-2FSKB-2FUl7C6xPlUWvEW7JUFgmVijs8XhGHZqVYmSYz0WVXMG-2Fl-2FQrmgF6AtFe2GKOh0ta1ECIBapBSDjvhLt2OommrgabIdZOOK_rY_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJSwjhUWGMB-2BKUiwEwqgUMM4OPVHKh8-2FfaWUcNAqzmuxLi2qBzDQWBRJ3SPUomGjxUj-2Fh1Jgv6zNIAHLc2Y2iR9MdJoriLdDa2g2Is2oLp1UjXmq3XgdDO9F6KRB0Ua9RpOugza1RkOW2l-2FeTqtaecgs-3D" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj41LiyYcR6wqAPBkIxflDCSJUReskQB8NJ83YN-2FzTukPcC816HpHD-2BxcV2HpD67ns2o-2B0hcsmc1Wb-2BlANyb-2FTqIvowtDBzEx0JE2IqRsMq-2F35lgNg89Lv-2F-2FSKB-2FUl7C6xPlUWvEW7JUFgmVijs8XhGHZqVYmSYz0WVXMG-2Fl-2FQrmgF6AtFe2GKOh0ta1ECIBapBSDjvhLt2OommrgabIdZOOK_rY_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJSwjhUWGMB-2BKUiwEwqgUMM4OPVHKh8-2FfaWUcNAqzmuxLi2qBzDQWBRJ3SPUomGjxUj-2Fh1Jgv6zNIAHLc2Y2iR9MdJoriLdDa2g2Is2oLp1UjXmq3XgdDO9F6KRB0Ua9RpOugza1RkOW2l-2FeTqtaecgs-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw2mROmz1aSxNfSqx8EnWrLe">
                                          <p style="Margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333">
                                            <span style="color:#0000cd">Back-end Developer (NodeJS, Typescript) ~ Up to 2000 USD</span><br>
                                            <span style="font-size:12px">LASTMILE WORKS - Thành phố Hồ Chí Minh
                                            <br>Salary: Up to 2.000 USD
                                            <br>NodeJS, Back-End, ExpressJS, TypeScript
                                            </span>
                                          </p>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" bgcolor="#f6f6f6" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px">
                                        <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj5qqqUwsaGdLH3K0GxfdOz5ZpPyjLYcshi3-2B6tpOXDHpfcHPLKG8kniSNAdwzBtZNI3qD0vlIBkhuu3N3CgYe14WzXRtc3YwtKmVG8cp7sPOKT0HTG91cbj1SXGOddopqyrAuQjH-2FT-2Fl1IOVXfYTfx6T6ijU8qcUj3-2FxeGnJD44yQ-3D-3Dhgvu_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJTHePTiJVm1FhWfajL0TRN6RKHEEhODyxpsOpo60ZpePrnR-2FZc2quZ9Nl9cp4AG1llyCw5DOS3IoODpYhhe6axZeCGJzeGbcGG0K7lwQqEMQU5q30DJrPH-2Fpv3LxAzjei-2BGQiwPLXonXjlCJo3Qq8j8-3D" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcOba3vi1xXWrkbDBwpU6zFPj5qqqUwsaGdLH3K0GxfdOz5ZpPyjLYcshi3-2B6tpOXDHpfcHPLKG8kniSNAdwzBtZNI3qD0vlIBkhuu3N3CgYe14WzXRtc3YwtKmVG8cp7sPOKT0HTG91cbj1SXGOddopqyrAuQjH-2FT-2Fl1IOVXfYTfx6T6ijU8qcUj3-2FxeGnJD44yQ-3D-3Dhgvu_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJTHePTiJVm1FhWfajL0TRN6RKHEEhODyxpsOpo60ZpePrnR-2FZc2quZ9Nl9cp4AG1llyCw5DOS3IoODpYhhe6axZeCGJzeGbcGG0K7lwQqEMQU5q30DJrPH-2Fpv3LxAzjei-2BGQiwPLXonXjlCJo3Qq8j8-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw06ZgX8Qq78GWCyxF0IUqLF">
                                          <p style="Margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333">
                                            <span style="color:#0000cd">(Remote) Odoo Functional Consultant</span><br>
                                            <span style="font-size:12px">Hexience - Thành phố Hà Nội, Thành phố Hồ Chí Minh, Thành phố Đà Nẵng
                                            <br>Salary: Negotiable
                                            <br>Python, Odoo, English
                                            </span>
                                          </p>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0;padding-bottom:20px;padding-left:20px;padding-right:20px">
                        <table cellpadding="0" cellspacing="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td valign="top" align="center" style="padding:0;Margin:0;width:180px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" style="padding:0;Margin:0">
                                        <p style="Margin:0;font-size:14px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:21px;color:#333333"><br></p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;border-spacing:0px">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="left" style="padding:0;Margin:0;width:360px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="right" style="padding:0;Margin:0">
                                        <p style="Margin:0;font-size:12px;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:18px;color:#696969">
                                          <em>
                                          <a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObTXc67FHjL9MErNy4NIK43ujTvbRC-2BYiSxX6w8m-2F-2BbSiHffHJ74qyddpTyCLJacOOn7tR7Om1sdQtGn-2BYKdUYiBM0P-2BxMOhUigAR5sQC-2FFQP2K0vEnXiPgFgkHuHP8vf6uPEu-2B6fR1-2Byciyec9odXQU-3DT7CR_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJY1VAx3slbu3I1aY-2BM4ysWY7ffgRT0YIMa1H8rgikDIki7ywEQbcpPe2XUU72FqX6ibqo1scG7XHLiojZTQZ7BB-2FxfxRPhlH7Dl4wiBCFtd18XkrZZz7sUXPxHHBWFtBmvSFu59KQCOGSvMwOIQgIZs-3D" style="text-decoration:none;font-family:arial,'helvetica neue',helvetica,sans-serif" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObTXc67FHjL9MErNy4NIK43ujTvbRC-2BYiSxX6w8m-2F-2BbSiHffHJ74qyddpTyCLJacOOn7tR7Om1sdQtGn-2BYKdUYiBM0P-2BxMOhUigAR5sQC-2FFQP2K0vEnXiPgFgkHuHP8vf6uPEu-2B6fR1-2Byciyec9odXQU-3DT7CR_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJY1VAx3slbu3I1aY-2BM4ysWY7ffgRT0YIMa1H8rgikDIki7ywEQbcpPe2XUU72FqX6ibqo1scG7XHLiojZTQZ7BB-2FxfxRPhlH7Dl4wiBCFtd18XkrZZz7sUXPxHHBWFtBmvSFu59KQCOGSvMwOIQgIZs-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw3mh5SUMZi73q3KUE9yFcZp">Tổng hợp việc làm tại Hồ Chí Minh</a>
                                          </em>
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td class="m_2318486636108299647es-m-p0" align="left" bgcolor="#f6f6f6" style="Margin:0;padding-bottom:10px;padding-top:20px;padding-left:20px;padding-right:20px;background-color:#f6f6f6">
                        <table cellpadding="0" cellspacing="0" class="m_2318486636108299647es-left" align="left" style="border-collapse:collapse;border-spacing:0px;float:left">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td class="m_2318486636108299647es-m-p20b" align="left" style="padding:0;Margin:0;width:270px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="left" class="m_2318486636108299647es-m-txt-c m_2318486636108299647es-m-p20" style="padding:0;Margin:0">
                                        <p style="Margin:0;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:15px;color:#333333;font-size:10px"><strong>TopDev - Việc Làm IT Hàng Đầu</strong><br><a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObXLudeatQffCHdpx-2BmCWpUVzNy-2BWXJpUgNRCblFtDlZmmsweUMR5dI3-2BBc3fjMN35xjVEEtLApFQbDSu8M0chSRyipzCCG0NB-2FKwaK7-2FS4Kc150HlW0IRnQj1i4cHhtXqQ-3D-3Dca4k_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJbOvjH2-2F2hRe3G7KiPzjgD01mcqQrInCsA12JCZ0FA2WoDQaAvcgGEUhGQRqpIw5uCALEgKSFB3NURezEq5XwlFT4OWVIkr4gYwINuVh4Q1W4vCQMmH0W7cNFcRGov2-2BWuQlMaoyrV42MiRtVW4YsgA-3D" style="text-decoration:underline;color:#2cb543;font-size:10px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObXLudeatQffCHdpx-2BmCWpUVzNy-2BWXJpUgNRCblFtDlZmmsweUMR5dI3-2BBc3fjMN35xjVEEtLApFQbDSu8M0chSRyipzCCG0NB-2FKwaK7-2FS4Kc150HlW0IRnQj1i4cHhtXqQ-3D-3Dca4k_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJbOvjH2-2F2hRe3G7KiPzjgD01mcqQrInCsA12JCZ0FA2WoDQaAvcgGEUhGQRqpIw5uCALEgKSFB3NURezEq5XwlFT4OWVIkr4gYwINuVh4Q1W4vCQMmH0W7cNFcRGov2-2BWuQlMaoyrV42MiRtVW4YsgA-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw0Eb-yAiS5B_gPsszLvsoVS">https://www.topdev.vn </a><br>Tầng 12A, Toà nhà AP Tower, 518B Điện Biên Phủ, Phường 21, Quận Bình Thạnh, Thành phố Hồ Chí Minh<br>Điện thoại: 028.6273.3496 - Email: <a href="mailto:career@topdev.vn" target="_blank">career@topdev.vn</a></p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="m_2318486636108299647es-right" align="right" style="border-collapse:collapse;border-spacing:0px;float:right">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="left" style="padding:0;Margin:0">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="right" class="m_2318486636108299647es-m-txt-c" style="padding:0;Margin:0">
                                        <p style="Margin:0;font-family:arial,'helvetica neue',helvetica,sans-serif;line-height:15px;color:#333333;font-size:10px">
                                          This email was sent to <a href="mailto:phonghiavan@gmail.com" rel="noopener" target="_blank">phonghiavan@gmail.com</a>
                                        </p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td class="m_2318486636108299647es-m-p0b m_2318486636108299647es-m-p40r m_2318486636108299647es-m-p40l" align="left" bgcolor="#f6f6f6" style="padding:0;Margin:0;padding-bottom:30px;background-color:#f6f6f6">
                        <table cellpadding="0" cellspacing="0" class="m_2318486636108299647es-left" align="left" style="border-collapse:collapse;border-spacing:0px;float:left">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td class="m_2318486636108299647es-m-p20b" align="left" style="padding:0;Margin:0;width:150px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="center" class="m_2318486636108299647es-m-p40r m_2318486636108299647es-m-p40l" style="padding:0;Margin:0;font-size:0px"><a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObdvVGwfjMwu6tXOjqW-2Be0en0NQnR0fHh1iSRRD37vvqnlC80_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJUUQGA5wmOXaYVtGqesHCgL9JZtvCj6S4a9d6zKCaWMbmPyi-2F03EleG6JZzwLSm13T8Gbld8nhsfuMWoIH4ZoB2-2Fh8SANIUHyvxSEPef1-2FMT2qz-2FlZ6DTGiITGxs7tSzR1FOT-2B52QV-2B4Eb-2BFmrPpFy0-3D" style="text-decoration:underline;color:#2cb543;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObdvVGwfjMwu6tXOjqW-2Be0en0NQnR0fHh1iSRRD37vvqnlC80_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJUUQGA5wmOXaYVtGqesHCgL9JZtvCj6S4a9d6zKCaWMbmPyi-2F03EleG6JZzwLSm13T8Gbld8nhsfuMWoIH4ZoB2-2Fh8SANIUHyvxSEPef1-2FMT2qz-2FlZ6DTGiITGxs7tSzR1FOT-2B52QV-2B4Eb-2BFmrPpFy0-3D&amp;source=gmail&amp;ust=1671330248497000&amp;usg=AOvVaw1vz7Vnb5BbEvW3DF9mfWyb"><img class="m_2318486636108299647adapt-img CToWUd" src="https://ci5.googleusercontent.com/proxy/OY7UFXC2Un0GW3ogP0OraaVNqALXWHUyrUpA68LZ9ykZPJU2YE4DnKNZsL2qwBMcv8HFIQNGKccF9CWazNWKnEhohs5gcMy_LlxWGRfPw02wxqCsbCP4pse_O071Inhivl4mstS_BgNCAE2gBcVo5It1kUxelkTX4-PLJdhzvI7JqnaFkg=s0-d-e1-ft#https://iwzfni.stripocdn.email/content/guids/CABINET_8e10d7826cac15b049907e81ecb053df/images/38881624284975680.png" style="display:block;border:0;outline:none;text-decoration:none" width="150" data-bit="iit"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="m_2318486636108299647es-left" align="left" style="border-collapse:collapse;border-spacing:0px;float:left">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="left" class="m_2318486636108299647es-m-p20b" style="padding:0;Margin:0;width:150px">
                                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="center" class="m_2318486636108299647es-m-p40r m_2318486636108299647es-m-p40l" style="padding:0;Margin:0;font-size:0px"><a href="http://url6025.topdev.vn/ls/click?upn=loh-2B0JDDR1w0f96zsHcObcFtnvLMGf3bORzfTQb0ovFjsB1seBhT4agCVYxHMRh2e-2BwkW-2Ba5BECnkXRYTxmIxvUuyLh-2FA2GQ-2FBk6XkHIPwHhJZJ1fhIUFRbY8OqhBQH-2FEtsmQBotkSlmo6nWCmcvhz1qY3Tb6WrmsAQdUJ2aPec-3DFq1q_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJQjDSCHQ4BTYQeO1s7bcq3lkUqE1ogZFyErlR30fJhxIDX2OGMPhrpQ0AvBHcAVoZstZLBx-2BIKjaWcatq6Ynp-2B5ZiJq0Bb4abs3wlpjcavw50QuCWhuato3bgGmRCcn0mALaHNYGn5nyxAMQRczW6yc-3D" style="text-decoration:underline;color:#2cb543;font-size:14px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url6025.topdev.vn/ls/click?upn%3Dloh-2B0JDDR1w0f96zsHcObcFtnvLMGf3bORzfTQb0ovFjsB1seBhT4agCVYxHMRh2e-2BwkW-2Ba5BECnkXRYTxmIxvUuyLh-2FA2GQ-2FBk6XkHIPwHhJZJ1fhIUFRbY8OqhBQH-2FEtsmQBotkSlmo6nWCmcvhz1qY3Tb6WrmsAQdUJ2aPec-3DFq1q_I-2Bpm3v5VOv-2BLjMOfyen2rM-2FB8pFbEWPJ-2B6Ynh45KoxKt0py5NIJcBcmzm-2B1tyAMOGi6NsKWCtObvBHsUq6qKm7yI5l9XE58NkXkZtZ0X8pR7KJC9T33mRwqS60HWj-2B0emXn6Wa-2BGzRWFTRO348QMJQjDSCHQ4BTYQeO1s7bcq3lkUqE1ogZFyErlR30fJhxIDX2OGMPhrpQ0AvBHcAVoZstZLBx-2BIKjaWcatq6Ynp-2B5ZiJq0Bb4abs3wlpjcavw50QuCWhuato3bgGmRCcn0mALaHNYGn5nyxAMQRczW6yc-3D&amp;source=gmail&amp;ust=1671330248498000&amp;usg=AOvVaw0i_1IQ_ZoqGJ2sHiQjOWxM"><img class="m_2318486636108299647adapt-img CToWUd" src="https://ci3.googleusercontent.com/proxy/kq0qpkHH9afShzOMC6AgzqnpFdJV7NG11JT9kn34owDJSXRhVIJOS1u8_ywgv1qZtjMEjoHXGPRglAjkvSQhDPvCGUS7PPAIzuawVgj21aAoxRGqboBu1WioP8_S0ElcUiHAHsGTqxfFF_SqjPXKpI6OWpaf3-2hIgc5dkus0cXaMZNYvg=s0-d-e1-ft#https://iwzfni.stripocdn.email/content/guids/CABINET_8e10d7826cac15b049907e81ecb053df/images/21941624284989683.png" style="display:block;border:0;outline:none;text-decoration:none" width="150" data-bit="iit"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" class="m_2318486636108299647es-right" align="right" style="border-collapse:collapse;border-spacing:0px;float:right">
                          <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="left" style="padding:0;Margin:0;width:300px">
                                <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                                  <tbody>
                                    <tr style="border-collapse:collapse">
                                      <td align="center" style="padding:0;Margin:0;display:none"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>